/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Helvetica, sans-serif;
  color: #333;
  background-color: #f1f1f1;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/******************************************
/* LAYOUT
/*******************************************/
.main-header {
  color: #f1f1f1;
  background-color: #000;
  overflow: hidden;
  height: 40px;
}

.main-header > * {
  float: left;
}

.logo {
  padding: 0.5em 1.5em;
}

.list-item.sign-in,
.list-item.more-link {
  padding-right: 8em;
}

.nav-list > * {
  float: left;
}

.list-item {
  padding: 0.5em 1em;
  border-left: solid #ddd 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.list-item:hover,
.list-item:focus {
  opacity: 0.5;
}

.more-link {
  position: relative;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: -35px;
  right: 20px;
}

.search-link {
  position: relative;
  color: #000;
}

.search-link:hover,
.search-link:focus {
  opacity: 1;
}

#search-input {
  width: 15rem;
}

.search-icon {
  position: absolute;
  top: 12px;
  right: 25px;
}
/* Main Section */
main > * + * {
  float: left;
}

.main-section {
  background-image: url("https://c.files.bbci.co.uk/1676D/production/_113931029_composite.jpg");
  background-size: cover;
  width: 45%;
  height: 20rem;
  color: #f1f1f1;
  margin: 0 0.5em;
}

.boxes-section {
  width: 50%;
  margin: 0 0.5em;
}

.boxes-section > div {
  float: left;
}

.box {
  width: 40%;
  height: 10em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://ichef.bbci.co.uk/news/384/cpsprodpb/D39B/production/_113917145_gettyimages-144092698.jpg");
  font-size: 1rem;
  margin-right: 1em;
  margin-bottom: 1em;
  color: #f1f1f1;
}

.box > h2 {
  margin-top: 2.5em;
  font-size: 1rem;
  font-weight: normal;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
